body, html {
  
margin: 0 auto;
width:100%;
display:block;
font-size:16px;
line-height:1.5em;
-webkit-font-smoothing:antialiased;
  font-family:roboto; 
}

img, embed, object, video {max-width:100%}



 a:visited
 {
  color:inherit;
  text-decoration:none;
 }

a:link
 {
  color:inherit;
  text-decoration:none;
 }

#container
{
  margin: 5.5em auto 0;
 /* max-width:960px; */

}

#logo{
  padding-top:20px;
  float:left;
  display:block;
  font-size:2em;
  margin:0;
}

/* Navbar */

#navbar
{
  z-index:1000;
  position: fixed; 
  top: 0;
  padding: 1em;
  width:100%;
  color:white;
  background: black;
  height: 3.5em;
 /* max-width:960px; */
}





#navbar ul {
  margin:0;
  padding: 28px;
  float: right;
}

#navbar ul li {
  display: inline-block;
  margin-right: 20px;
  
}



.clear{
  clear:both;
}

.content {
  font-weight:300;
  padding-bottom: 40px;
  display:flex;
  flex-wrap:wrap;
  width:100%;
}

.box
{
  width:100%; 
}

section
{
  width:100%;
  float: left;
 /* margin-top:100px; */
}

aside
{
  width:35%;
  float: right;
}


 .container1
{ 
  position:relative;
  max-height:500px;
  overflow:hidden;
  padding:10px;
 /* background-color: #0b113d; */
/* height: 600px; */
  /* padding-top:110px; */

}

.container11, .container12, .container13, .container14, .container15
{/* padding:10px; */
  position:relative;
  background-color: #0b113d;
  height:600px;
  margin-bottom: 5px;
  
 
}

 .container2
{ 
  margin-top:-8px;
  position:relative;
 /* max-height:750px; */
  overflow:hidden;
  padding:10px;
  background-color: #0b113d;
 /*height: 600px; */
  /* padding-top:110px; */

}

.container3
{ 
  position:relative;
 /* max-height:750px;*/
  overflow:hidden;
  padding:10px;
  background-color: #0b113d;
 /*height: 600px; */
  /* padding-top:110px; */

}

.container4
{ 
  position:relative;
  /* max-height:750px; */
  overflow:hidden;
  padding:10px;
  background-color: #0b113d;
 /* height: 600px; */
  /* padding-top:110px; */

}

.container5
{ 
  position:relative;
 /* max-height:750px; */
  overflow:hidden;
  padding:10px;
  background-color: #0b113d;
 /* height: 600px; */
  /* padding-top:110px; */

}

#formstyle
{ 
 /*  -webkit-transform: translatey(-100px); 
     transform: translatey(-100px); */
  width:100%;
  position:absolute;
top:80%;  

}

#formcenter 
{
  width:50%;
  margin:auto;
}


#formcenter form input[type=text] {
    width: 10em;
    padding: 1em 2em;
    border: none;
}

#formcenter form input[type=button], input[type=submit], input[type=reset] {
  
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 1em 2em;
    text-decoration: none;
    margin: .25em .125em;
    cursor: pointer;
}


#home{
  position:relative;
  height:600px;

}
.img-scaled-wh2
    {
      -webkit-transform: rotateY(180deg);
    
-moz-transform: rotateY(180deg);
    
-ms-transform: rotateY(180deg);
    
-o-transform: rotateY(180deg);
    
transform: rotateY(180deg);
height:100%;
width:100%;
      
    }

.img-scaled-wh2-cont2
    {
width:100%;
 
    }

#imgcont2 {
      width:50%;
      margin:0 auto;  
      
}
#poorfolks {
  height:100%;
      width:100%;
    }

#bg_overlay{
position:absolute; 
width: 100%; 
height: 100%;
background:black;
background: rgba(0,0,0,0.4);  
top:0;
left:0;
}

#section-home.container1
{
  padding:0;

}

#section-home .description_container
{
 position:absolute; 
  z-index:10;
  bottom:0;
  width:100%;
 /* padding-bottom: 25; */
  top:30%; 
  font-family: "Alright Sans LTV Light", "Alright Sans Light", Helvetica, Arial, sans-serif;
  color:white;
 /*  -webkit-transform: translatey(100px); 
     transform: translatey(100px); */
}


#section-home .description_header
{
 
 line-height:normal;

    width: 100%;
    margin: auto;
    color: #ffffff;
    font-weight:600;
     margin-left: 100px;
    font-size: 75px;
    
    font-weight: normal;
}




#section-home .description_header p
{ text-align:left; 
margin:0;
padding:0;
width: 550px;
   
}

#section-home .description_text
{ 
  /* width:40%; */
  /* margin: 0 auto; */
/* font-size:16px; */
/* line-height:1.5em; */
/* -webkit-transform: translatey(-100px); */
  /*  transform: translatey(-100px); */

    /* padding:3px; */

    width: 550px;
    margin-left: 100px;
    font-size: 18px;
    line-height: 24px;
}



#section-home .description_text p
{
  text-align:left; 
margin:0;
padding:0;
}


.description_container
{
  
    z-index: 10;
    bottom: 0;
    width: 100%;
    padding-bottom: 25;
    font-family: "Alright Sans LTV Light", "Alright Sans Light", Helvetica, Arial, sans-serif;
    color: white;
}

.description_header
{
 /* -webkit-transform: translatey(-100px); */
    /* transform: translatey(-100px); */
  
  font-size: 24px; 
 color: #ffffff; 
   font-size:24px;
   font-weight: normal;
   text-align:center; 
  padding:3px; 


}



.description_text
{ 
font-size:16px;
line-height:1.5em;
/* -webkit-transform: translatey(-100px); */
  /*  transform: translatey(-100px); */

    padding:3px;
}


@media screen and (max-width: 770px) {


  #banner {
    background-color:black;
    height:auto;
  }

  #navbar a.burger-nav {
    margin: 0 auto;
    position:relative;
display: block;
height: 2em;
width: 100%;
background-image: url('../images/blackmobilemenubutton.png');
background-color: white;
cursor: pointer;
background-repeat: no-repeat;
background-position: center;
background-size: 1.5em;
  }

  section{
    float:none;
  }

  #logo{
    background:black;
    float:none;
    display:block;
    padding:1em 0;
    margin:0;
  }

  header nav ul {
    overflow: hidden;
    background:#505050;
    height:0;
  }

  header nav ul.open {
    height:auto;
  }

  header nav ul li 
  {
    text-align:left;
    width:100%;
    margin:0;
    float:none;
  }

  header nav ul li a {
    padding:1em;
    border:.1em solid #404040;
    display:block;
    margin:0;
  }

  #header {

    padding:0;
    margin:0;
    float: none;
    padding-top: 1.25em;
    
  }

  #navbar {
    position:fixed;
    top:0;
    padding: 0;
    margin: 0;
    width:100%;
    z-index:1000;
    background-color:white;
  }


  #navbar ul{
    width: 100%;
    float: none;
    padding:0;
  }


  #navbar li {
    display: block;
margin: 0;
background: black;
margin-bottom: 5px;
font-weight: 800;
  }

  #navbar a {
    display: block;
   /* padding: 10px; */
    text-align: center;
  }



  .container1
{ padding:3px;
  position:relative;
  /*background-color: #0b113d; */
max-height:600px;
  margin-bottom: 5px;
}





#section-home .description_container
{
 
  top:50%; 
  
}

#section-home .description_header
{
 
 line-height:normal;

  width: 40%;
    margin-left: auto:;
    font-size: 24px;
    color: #ffffff;
    /* font-size: 24px; */
    
    /* text-align: center; */
}

 .container2
{ margin-top:-12px;
  padding:3px;
  position:relative;
  background-color: #0b113d;
  height:auto;
  margin-bottom: 5px;
}


.container11, .container12, .container13, .container14, .container15, .container3
{ /^ padding:3px; */
  position:relative;
  background-color: #0b113d;
  height:600px;
  margin-bottom: 5px;

   
 
}

.container4
{ padding:3px;
  position:relative;
  background-color: #0b113d;
  height:600px;
  margin-bottom: 5px;
}

.container5
{ padding:3px;
  position:relative;
  background-color: #0b113d;
  height:600px;
  margin-bottom: 5px;
}

  #container {
    padding: 0px;
  }

  #poorfolks {
      width:100%;
      margin: 0 auto;
}

  #imgcont2 {
      width:50%;
      margin: 0 auto;
}

#description_container
{
  
  z-index:0;
  bottom:0;
  width:100%;
  padding-bottom: 25px;
 
  font-family: "Alright Sans LTV Light", "Alright Sans Light", Helvetica, Arial, sans-serif;
  color:white;
}

#description_header
{
 /* -webkit-transform: translatey(-100px); */
    /* transform: translatey(-100px); */
  
  font-size: 18px;
  color: #ffffff;
  /* font-size:24px; */
  font-weight: normal;
  /* text-align:center; */
  padding:3px;
}

#description_text
{ 
font-size:10px;
line-height:1.5em;
/* -webkit-transform: translatey(-100px); */
  /*  transform: translatey(-100px); */

    padding:3px;
}


}



@media screen and (min-width: 800px) {

 

  #section-home .description_container
{
 
  top:30%; 
  
}

#section-home .description_text
{
 
  width:80%; 
  
}


}

  #section-home .description_container
{
 
  top:30%; 
  
}

#section-home .description_text
{
 
  width:80%; 
  
}

.container11
{
background-color:white;
  height:auto;
}


.container11 .description_header
{
  color:black;
}

.container11 .description_text
{
  display:none;
  olor:black;
}

  .container12, .container13, .container14, .container15{
    background-color: #ffffff;
  width:25%;
  height:auto;
 }

.container12 .description_header
{
  color:black;
}

.container12 .description_text
{
  color:black;
}

.container13 .description_header
{
  color:black;
}

.container13 .description_text
{
  color:black;
}
.container14 .description_header
{
  color:black;
}

.container14 .description_text
{
  color:black;
}
.container15 .description_header
{
  color:black;
}

.container15 .description_text
{
  color:black;
}
}
